{% extends 'layout.html' %}

{% block js_assets %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.5/jstree.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <script src="{{ url_for('static', filename='js/chat_events.js') }}"></script>
{% endblock %}

{% block body %}
  <div class='ui segment' id='flask_chat'>
    <div class='ui small header'>ScrapEZ chat</div>
    <textarea readonly id="chat" class='ui segment' cols="80" rows="15"></textarea><br><br>
    <input id="name" class='ui input' placeholder="Enter your name"><div class='ui basic button'>Save</div></br></br>
    <input id="text" class='ui input' size="80" placeholder="Enter your message here"><br><br>
  </div>
{% endblock %}
