{% extends 'layout.html' %}

{% block css_assets %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
  <style media="screen" type="text/css">
    /* .item{
      position: relative;
    }
    img{
      float: left;
    }
    .content {
      margin-left: 130px;
    } */
  </style>
{% endblock %}

{% block js_assets %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.5/jstree.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <script src="{{ url_for('static', filename='js/download_events.js') }}"></script>
{% endblock %}

{% block body %}
  <div class='ui segment'>
    <div class='ui input'>
      <input id='search' placeholder="Search for download ..."></input>
    </div>
    <button class='ui button' id='query'><i class='ui search icon'></i>Search</button>
    </br></br>
  </div>
  <div class='ui segment'>
    <div id='results_header'>
      <div class='ui header'>Results</div>
      <p data-number=0 id='nresults'>No results found.</p>
    </div>
    <div id='loader' width="50%" class="ui icon message">
      <i class="notched circle loading icon"></i>
      <div class="content">
        <div class="header">
          Searching for downloads ...
        </div>
        <p>We're looking on the local hard drive for some content.</p>
      </div>
    </div>
    <div id='results' class="ui padded celled list">
    </div>
  </div>
{% endblock %}
